<div class="d-flex flex-column align-items-center" style="min-height: 100vh;">
  <div class="d-flex justify-content-around align-items-center pt-5 border-bottom w-75">
    <h1 class="display-4 text-white">Cards</h1>
    <div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="All" autocomplete="off">
        <label class="btn btn-outline-primary text-white" for="All" >All</label>

        <input type="checkbox" class="btn-check" id="Monster" autocomplete="off">
        <label class="btn btn-outline-primary" for="Monster">Monster</label>

        <input type="checkbox" class="btn-check" id="MagicSpell" autocomplete="off">
        <label class="btn btn-outline-primary" for="MagicSpell">Magic/Spell</label>
      </div>
    </div>
  </div>
  <div>
    <div>

    </div>
  </div>
</div>
